<h2>Influencers</h2>
<mat-card class="list_card" *ngFor="let influencer of influencers">
  <button class="list_item" (click)="openDialog(influencer)" mat-button>
    <span>
      <b>{{influencer.attributes.name}} {{influencer.attributes.secondName}}</b>
    </span>
    <span>
      {{influencer.attributes.phoneNumber}}
    </span>
    <span>
      {{influencer.attributes.email}}
    </span>
    {{influencer.id}}
  </button>
</mat-card>

<h2>Brands</h2>
<mat-card class="list_card" *ngFor="let brand of brands">
  <button class="list_item" (click)="openDialog(brand)" mat-button>
    <span>
      <b>{{brand.attributes.name}}</b>
    </span>
    <span>
      {{brand.attributes.phoneNumber}}
    </span>
    <span>
      {{brand.attributes.email}}
    </span>
    {{brand.id}}
  </button>
</mat-card>
