@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.spacer {
  flex: 1 1 auto;
}

.is-danger {
  color: red;
}

.sm-text {
  font-size: 10px;
}

.list_card {
  max-width: 90%;
  margin: 0 auto 10px auto;
}
