<main>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 influencers">
          <mat-card class="card">
            <h2>Influencers</h2>
            <button (click)="openDialogInfl()" mat-button>Enter your information</button>
          </mat-card>
        </div>
        <div class="col-md-6 col-sm-12 brands">
          <mat-card class="card">
            <h2>Brands</h2>
            <button (click)="openDialogBrand()" mat-button>Enter your information</button>
          </mat-card>
        </div>
      </div>
    </div>
</main>
