main {
  background: url("../../assets/background-main.jpg") no-repeat center center;
  background-size: cover;
  height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.influencers, .brands {
  text-align: center;

  h2 {
    text-shadow: 0px 0px 5px white;
  }

  .card {
    background-color: rgba($color: white, $alpha: .2);

    button:focus {
      outline: 0;
    }
  }
}


